flask
flask-sqlalchemy
flask-login
flask-wtf
flask-dance
gunicorn
psycopg2-binary
pyjwt
pymupdf
pypdf2
pytesseract
python-docx
python-pptx
reportlab
requests
sqlalchemy
werkzeug
wtforms
pillow
openpyxl
email-validator
paypalrestsdk